.who{
 text-align: center;
 width: 100%;
 margin:  0 auto;
 padding: 25px;
 background-color: #121212;

}
.do{
display: flex;
justify-content: space-around;
}
#bb{
    width: 350px;
}
#bb h2{
    color: white;
}
#bb h5{
    letter-spacing: 0.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*********************************************************************/



.feature-number:hover{
    color: gray;
}
.bloom {
    animation: move 2s infinite;
}

@keyframes move {
    0% {
        transform: scale(0.99);
        box-shadow: 0 0 0 0px rgb(124, 129, 122);
    }
    50% {
        transform: scale(1);
        box-shadow: 0 0 0 20px rgb(0 0 0 / 0%);
    }
    100% {
        transform: scale(0.99);
        box-shadow: 0 0 0 20px rgb(0 0 0 / 0%);
    }
}