.bgHoisting{
    position: relative;
    background: #FD5CD7;
    color: white;
    margin-left: 10px;
    width: 540px;
    margin-bottom: 100px;
}
.txt{
    margin-left: 5px;
    margin-top: -10px;
    font-size: 2.5rem;
}
#Hosting-box{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   
    justify-content: space-around;
    
    
}
.one {
    width: 400px;
    /* height: 110vh; */
    background-color: white;
    border-radius: 75px 0px ;
    box-shadow: 5px 4px 30px rgb(0 0 0 / 25%);
    transform: matrix(1, 0, 0, 1, 25, -14);
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 50px;
}
.one1 {
    width: 400px;
    
    /* height: 110vh; */
    background-color: white;
    border-radius: 75px 75px 0px ;
    box-shadow: 5px 4px 30px rgb(0 0 0 / 25%);
    transform: matrix(1, 0, 0, 1, 25, -14);
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 50px;
}
.two {
    width: 100%;
    height: 33%;
    background: #FD5CD7;
    border-radius: 75px 0px 0px 0px;
    text-align: center;
    align-items: center;
    display: grid;
    font-size: 25px;
    color: white;
}
.two1 {
    width: 100%;
    height: 33%;
    background: #FD5CD7;
    border-radius: 0px 75px 0px 0px;
    text-align: center;
    align-items: center;
    display: grid;
    font-size: 25px;
    color: white;
}
.one p {
    padding: 36px 33px 86px 21px;
    font-size: 0.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
.one1 p {
    padding: 36px 33px 86px 21px;
    font-size: 0.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}


/* further optimisation */




.title-box .title{
    margin-top: -22px; 
    padding-bottom: 26px; 
    font-size: 2.7rem;
}

.title-box {
    text-align: center;
}
.title-box p{
    text-align: center;
    font-size: 1.4rem;
    /* margin-top: 60px; */
}
#indepth{
    font-size: 72px;
}
.component {
    height: 302px;
    line-height: 1.8;

}
.rect-box {
    /* padding-bottom: 70px; */
    justify-content: space-evenly;
}
.one p{
    font-weight: 600;
}
.one1 p{
    font-weight: 600;
}
#cc {
    background: linear-gradient(92.22deg, #088FFF 8.35%, #0587FF 92.86%);
    
    padding: 0px 14px;
    display: inline-block;
    border-radius: 20px;
}
.inst {
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}

.rect-top{
    margin-left: 0px;
    margin-bottom: 88px;
}
.mg{
    margin: 60px 0px 100px;
}
/* 8/8/2021 */
#download{
    color: white !important;
    /* background: linear-gradient(to bottom, #8e2de2, #4a00e0); */
    /* background: linear-gradient(to bottom, #121212, #FFB100); */
    background: linear-gradient(0deg, rgba(255,177,0,1) 0%, rgba(18,18,18,1) 59%);
    padding: 50px;
}
#cc{
    margin-bottom: 1rem;
}

@media screen and (max-width: 770px) {
    .rect-top{
        width: 100%;
    }
    .component {
        width: 76.3vw;
        height: 250px;
    }
    #cc {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    #gh p {
        font-size: 0.8rem;
    }
    #Hosting-box{
        
     
        padding-top: 30px;
    }
    
    .two{
        padding-top: 20px;
    }
    .two1{
        padding-top: 20px;
        width: 100%;
    }
    .one1 , .one{
        width: 320px;
       
    
    }
    .sixtyTwo{
        width: 62% !important;
    }
    .fundMg{
        margin-left: 10px !important;
    }

}

@media screen and (max-width: 400px) {
    
    #Hosting-box{
        display: block;
       width: 300px;
        padding-top: 30px;
    }
    .one1 ,.one {
        width: 320px;
        
    
    }
    #download{
        padding: 0px 11px;
    }
    #download p{
        font-size: 1.1rem;
    }
    #indepth{
        margin: 27px 0px;
    }
    .iq-pricing-table {
        margin-top: 10px;
        margin-bottom: 90px;
    }


}